include ETIA/AFS/feature_selectors/fbed_with_idx.R
include ETIA/AFS/feature_selectors/ses_with_idx.R
include ETIA/AFS/jsons/pred_algs.json
include ETIA/AFS/jsons/fs_algs.json
include ETIA/AFS/jsons/preprocess_algs.json
recursive-include ETIA/CausalLearning/algorithms/jar_files *.jar
recursive-include ETIA/AFS/feature_selectors *.R
recursive-include ETIA/CRV/adjustment *.R